.cancelBtn {
  border: 1px solid black;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: white;
}
.submitBtn {
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
